body {
    font-family: Arial, Helvetica, sans-serif;
   
    
}
.clearfix{
    clear: both;
}
section{
    background-color: rgba(207, 207, 207, 0.6);
    
}
div.header{
    float: left;
}
.header{
    text-align: center;
    float: left;
    margin-left: 239px;
    margin-top: 16px;
}
.paragraph1{
    text-align: center;  
    margin-top: 90px;
    width: 100%;
    float: left;
}
.h1{
    font-size: 30px;
}
.p1{
    font-size: 25px;
}
.hr{
    border: 1px solid white;
    width: 0px;
    height: 0px;
}
div.header{
    text-align: center;
    background: url(/Web-A-test/img/family-large6.jpg) no-repeat;
    background-size: cover;
    height: 386px;
    width: 100%;
    margin-left: 1px;
    /*CSS ในส่วนของ img ตรง header*/
}
.box3{
    width: 100%;
    height: 216px;
    font-size: 14px;
    
}
.box4{
    width: 100%;
    height: 216px;
    font-size: 14px;
}
.text1{
    margin-top: 28px;
    margin-left: 50px;
}
.text2{
    margin-top: 35px;
    margin-left: 50px;
}
.text3{
    margin-left: 50px;
}
