body {
    font-family: Arial, Helvetica, sans-serif;
    
}
.clearfix{
    clear: both;
}

div.container {
    border: 1px solid red;
    background-color: rgba(207, 207, 207, 0.6);
}
div.box {
    border: 1px solid blue;
    background-color: white;  
}